/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  =============================================
  Custom Styles
  =============================================
*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 1400px;
  margin: 4em auto;
}

main {
  margin: 0 auto;
  width: 780px;
}

.section {
  margin-top: 50px;
  margin-bottom: 45px;
} 

/*
  =============================================
  First-Section
  =============================================
*/
#box-model {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-top: 2em;
  border: 20px solid #ADD8E6;
  outline: 4px solid black;
  box-shadow: 0 0 0 20px #ED7F80;
  background-color: #DAFAD4;
}

.excercise-1 {
  margin-top: 60px;
  margin-left: 192px;
  } 

li {
  display: inline;
}
  
li img {
  width: 15px;
  height: 15px;
}
  
.div-inline,
.para-inline {
  display: inline;
}

.div-inline {
  margin: 10px;
}

.para-inline {
  font-size: 17px;
}

/*
  =============================================
  Second-Section
  =============================================
*/

.wrapper {
  margin-top: 46px;
  margin-left: 100px;
}

.parent-container {
  width: 600px;
  margin: 40px 0;
  border: 1px solid #5A5A5A;
}

.parent-container p {
  display: inline-block;
  width: 180px;
  height: 100px;
  margin: 10px;
  background-color: #CCCCCC;
}

#section-2 p,
#section-3 p {
  border: 1px solid black;
}

#section-3 p {
  box-sizing: border-box;
}

.para {
  font-size: 20px;
  font-weight: 547;
  word-spacing: 5px;
  text-align: center;
  margin: 13px 0 0-15px;
}

/*
  =============================================
  Headings
  =============================================
*/

h1 {
  width: 1000px;
  font-size: 45px;
  font-weight: 600;
  word-spacing: 8px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 0;
}

/*
  =============================================
  Horizontal Line
  =============================================
*/

hr {
  width: 50%;
  border: 2px dashed #CCCCCC;
  border-style: none none dotted; 
}






















